@model IEnumerable<Sooziales_Netzwerk.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.likes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idLink">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idLink">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idLink">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
